{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block header %}
{% include '../home/header.html' %}
{% end %}
{% block css %}
<style type="text/css">
    html{
      margin: 0;
      height: 100%;
      overflow: hidden;
    }
    iframe{
      position: absolute;
      left:0;
      right:0;
      bottom:0;
      top:0;
      border:0;
    }
  </style>
{% end %}
{% block javascript %}
  <script type="text/javascript" src="https://embed.typeform.com/embed.js"></script>
<script type="text/javascript" src="{{ site_base }}/static/js/dermatologia.js"></script>
<script type='text/javascript'>
    $("#testButton").live("touchstart", function() {
      $(this).addClass("active");
    }).live("touchend", function() {
      $(this).removeClass("active");
    });
</script>


{% end %}

{% block body %}

{% if is_admin %}
{% set editabletext = 'editabletext' %}
{% else %}
{% set editabletext = '' %}
{% end %}
<div style="height: 600px; margin-top: 30px;">
    <iframe  style="margin-top: 17px;" id="typeform-full" width="100%" height="100%" frameborder="0" src="https://loadingplay.typeform.com/to/VDe4r0"></iframe>
</div>


{% include '../home/footer.html' %}
{% end %}


